.git
.gitignore
.venv
venv
env
.vscode
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
!.env.example
*.db
dist/
build/
*.egg-info
.DS_Store
node_modules/
*.md
EL-Akeil/
.pytest_cache
.coverage
htmlcov/
*.log
.idea/
.env.production
